/* Standaardstijl voor het tekstelement */
p {
  color: red; /* Standaard witte tekstkleur */
  font-size: 24px;
  text-align: center;
  padding: 20px;
}
/* Achtergrondstijl voor de thumbnail */
.thumbnail {
  background-image: url("https://st4.depositphotos.com/13349494/23275/i/450/depositphotos_232750146-stock-photo-dark-blue-striped-wooden-background.jpg");

  background-image: url("./background.jpg");

  background-size: cover;
  height: 300px;
  width: 600px;
  margin: 20px auto;
  position: relative;

}
/* Stijlen voor lichte achtergrond */
p.background--light {
  color: black; /* Verander de tekstkleur voor een lichte achtergrond */
}
/* Stijlen voor donkere achtergrond */
p.background--dark {
  color: red; /* Verander de tekstkleur voor een donkere achtergrond */
}


/* style the draggable cat */
div.img-container {
  position: relative;
  height: 90px;
  overflow: hidden;
  border: 2px dashed black;
  background-color: antiquewhite;
  text-align: center;
}
#draggableImage {
  width: 80px;  
  height: auto;
  cursor: move; 
}
