/* Standaardstijl voor het tekstelement */
p {
  color: red; /* Standaard witte tekstkleur */
  font-size: 24px;
  text-align: center;
  padding: 20px;
}
/* Achtergrondstijl voor de thumbnail */

.thumbnail {
  background-image: url("./background.jpg"); /* Standaard achtergrondafbeelding */
  background-size: cover;
  background-position: center;
  width: auto;
  height: 40vh;
  margin: 20px auto;
  position: relative;
}

/* style the draggable cat */
div.img-container {
  position: relative;
  height: 90px;
  overflow: hidden;
  border: 2px dashed black;
  background-color: antiquewhite;
  text-align: center;
}
/* #draggableImage {
  width: 80px;
  height: auto;
  cursor: move;
} */

#draggableImage {
  background-image: url("./hover.png");
  background-size: cover;
  width: 80px;
  height: 80px;
  position: relative;
  cursor: move;
}

#video,
#photo {
  width: 15rem;
  height: 10rem;
}

#canvas {
  display: none;
  width: 640px;
  height: 480px;
}
